node_modules
apps/mobile/ios/Pods
apps/mobile/ios/build
apps/mobile/ios/DerivedData
apps/mobile/android/.gradle
apps/mobile/android/.idea
apps/mobile/android/local.properties
apps/mobile/android/app/build
