node_modules
apps/mobile/ios/Pods
apps/mobile/ios/build
apps/mobile/ios/DerivedData
apps/mobile/android/.gradle
apps/mobile/android/.idea
apps/mobile/android/local.properties
apps/mobile/android/app/build

# Xcode user data
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
